<h1>Exercise Log</h1>
<nav>
    <button><%= link_to "Add Exercise Log", new_exercise_log_path %></button>
</nav>

<%= form_tag(exercise_logs_path, method: 'get') do %>
    <label for="sort">Sort</label>
    <select name="sort">
        <option <%= 'selected' if params[:sort] == '' %> value="">None</option>
        <option <%= 'selected' if params[:sort] == 'highest_duration' %> value="highest_duration">Highest Duration</option>
    </select>
    <%= submit_tag 'Filter Results' %>
<% end %>
<div>
<table>
    <style>
    table, th, td{border: 1px solid red; background: white;}
        th {width: 140px}
        td {width: 150px}
    </style>
    <tr>
        <th>Exercise Name</th>
        <th>Reps</th>
        <th>Weight(lbs)</th>
        <th>Duration(m)</th>
        <th>Notes</th>
    </tr>
    <% @exercise_logs.each do |exercise_log| %>
        <tr>
            <td><%= link_to exercise_log.exercise.name, edit_exercise_log_path(exercise_log) %>
            <td><%= exercise_log.reps %>
            <td><%= exercise_log.weight %>
            <td><%= exercise_log.duration %>
            <td><%= exercise_log.notes %>
        </tr> 
    <% end %>      
</table> 
</div>
