<h1>New Exercise</h1>
<%= show_errors_for(@exercise) %>

<%= form_for @exercise do |f| %>
    <p>
        <%= f.label :name, "Add name of exercise here" %><br/>
        <%= f.text_field :name %>
    </p>
    <%= f.submit %>
<% end %> 

